
.container-card{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 2em;
    flex-wrap: wrap;
    width: 90%;  
    gap: 6em;
}
/*===========================================index page====================================================*/
.btn-index{
    margin-left:9em; 
    display: block;
}



