.container-register{
    display: flex;
    text-align: justify;
    background-color: whitesmoke;

}
.col-6{
    align-items: center;
    margin-top: 5em;
    margin-left: 15rem;
    gap: 2em;
}
.col-6 h3{
    text-align: center;
    margin-top: 2em;
}
.btn-register.btn-primary{
   margin-left: 12em;
   margin-top: 2em;
    
}