{% extends 'layouts.html' %}
{% block titleblock %}Payment {% endblock %}

{% block bodyblock %}

<div class="container-fluid">
    <div class="col-8-payment">
        <div class="mobile-email">
            <div><p>Share Contact Details</p></div>
            <div>
                <input type="email" placeholder="Email">
                <input type="tel" name="" id="" placeholder="+91">
                <button class="btn-continue"><a href="">CONTINUE</a></button>
            </div>
        </div>
        <div class="paymentoptions">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Payment Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="#">WALLET</a>

                  
                  <a class="dropdown-item" href="#">U P I</a>


                  <a class="dropdown-item" href="#">DEBIT/CREDIT CARDS</a>


                  <a class="dropdown-item" href="#">NET BANKING</a>
                </div>
              </div>
        </div>
    </div>
    <div class="col-4-payment">
        <div class="title-order"> O R D E R  S U M M A R Y </div>
        <div class="detail-tkt">
        <div class="tkt-summary">
            <table style="display:flex; width: 27em;">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th style="height: 4em;">Movie Name</th>
                    <th style="padding-left: 14em;">{{Check_out.movieName}}</th>
                </tr>
                <tr style="height: 4em;">
                    <th >Number Of Seats</th>
                    <th style="padding-left: 14em;">{{data.number}}</th>
                </tr>
                <tr style="height: 4em;">
                    <th >Seats</th>
                    <th style="padding-left: 14em;">{{data.seat}}</th>
                </tr>
                
            </table>
        </div>
        
    </div>
    <hr>
    <div class="total-price" >
        <table  style="display:flex; width: 27em; margin:1em;">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th style="height: 2em;">Tottal Amount</th>
                <th style="padding-left: 16em;">{{data.amount}}</th>
            </tr>
            <tr style="height: 4em;">
                <th style="height: 2em;">Other Charges</th>
                <th style="padding-left: 16em;">00</th>
            </tr>
        
        </table>
        <hr>
        <table class="tableorder" style="display:flex; width: 45em; margin:1em">
            <tr style="height: 2em;">
                <th style="font-size: larger;">Payable Amount</th>
                <th style="padding-left: 14em; height: 2em;">{{data.amount}}</th>
            </tr>
            
        </table>
    </div>
    </div>
   
   
</div>

{% endblock %}
