{% extends 'layouts.html' %}
{% load static %}
{% block headblock %} <link rel="stylesheet" href="{% static 'css/seatselection.css' %}"> {% endblock %}
{% block titleblock %}Movie Selection {% endblock %}

{% block bodyblock %}

<div class="container-selection-main">
 
  <div class="row-selection-banner">
    <div class="col-poster">
      
      <img style="height: 28em;" src="{{Movie_Names.poster.url}}" alt="">
      <i class="bi bi-play-circle"></i>
       <a href=""><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
      </svg>
      </a>
     
    </div> 
    <div class="col-poster-detail">
        <img src="{{Movie_Names.banner.url}}" alt="">
       <div class="sub-details">
        <div class="title"> <h2>{{Movie_Names.movieName}} </h2></div>
        <div class="rating">
          <i class="bi bi-star-fill"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg><p>{{Movie_Names.rating}}/10</p>
        </div>
        <div class="movie-type">
          <button class="btn btn-primary">{{Movie_Names.movieFromat}}</button>
          <button class="btn btn-primary">{{Movie_Names.language}}</button>
        </div>
        <div class="movie-duration">
          <p>{{Movie_Names.duration}}<div class="vertical-line"></div>{{Movie_Names.joner1}}<div class="vertical-line"></div>{{Movie_Names.joner2}}<div class="vertical-line"></div>{{Movie_Names.joner3}}
            <div class="vertical-line"></div>{{Movie_Names.censor}}<div class="vertical-line"></div>{{Movie_Names.releasingDate}}</p>
        </div>
       </div>
      </div>
      
  </div>
  
<!-------------------------------------------------seats------------------------------------------------------------------------------->
<div class="screen"></div>
<div class="scree-txt">S &nbsp;&nbsp;C&nbsp;&nbsp; R&nbsp;&nbsp; E &nbsp;&nbsp;E&nbsp;&nbsp; N</div>
  <div class="row-selection-seat">
    <div class="date-seatnumber">
      <div class="seat-status-info">
      <li style="background-color: rgb(170, 174, 168);"></li><p>Available</p>
      <li style="background-color:orangered;"></li><p>Booked</p>
      <li style="background-color: greenyellow"></li><p>Selected</p>
    </div>
    <div class="date-show"> 
      <select  class="btn btn-primary" name="day" id="">
        <option  style="background-color:rgb(73, 73, 223);" value="">Day</option>
        <option style="background-color:rgb(89, 60, 190);" value="01">Today</option>
        <option style="background-color:rgb(60, 60, 221);" value="02">Tomorrow</option>
        </select>
        <select class="btn btn-primary" name="month" id="">
          <option value="">Shows</option>
          <option value="">9Am</option>
          <option value="">1Pm</option>
          <option value="">5Pm</option>
          <option value="">9.30Pm</option>
        </select>
        <select class="btn btn-primary" name="month" id="">
          <option value="">Seats</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
        </select>
     
        
  </div>

    </div>
    <div class="seats">
      <div class="row-seat">
        <span>A</span>
        <li class="chair" id="A1"></li>
        <li class="chair" id="A2"></li>
        <li class="chair" id="A2" ></li>
        <li class="chair" id="A4" ></li>
        <li class="chair" id="A5" ></li>
        <li class="chair" id="A6" ></li>
        <li class="chair" id="A7" ></li>
        <li class="chair" id="A8" ></li>
        <li class="chair" id="A9" ></li>
        <li class="chair" id="A10"></li>
        <li class="chair" id="A11"></li>
        <li class="chair" id="A12"></li>
        <li class="chair" id="A13"></li>
        <li class="chair" id="A14"></li>
        <li class="chair" id="A15"></li>
        <li class="chair" id="A16"></li>
        <li class="chair" id="A17"></li>
        <li class="chair" id="A18"></li>
        <li class="chair" id="A19"></li>
        <li class="chair" id="A20"></li>
        <li class="chair" id="A21"></li>
        <span>A</span>
      </div>
      <div class="row-seat">
        <span>B</span>
        <li class="chair" id="B1"></li>
        <li class="chair" id="B2"></li>
        <li class="chair" id="B2" ></li>
        <li class="chair" id="B4" ></li>
        <li class="chair" id="B5" ></li>
        <li class="chair" id="B6" ></li>
        <li class="chair" id="B7" ></li>
        <li class="chair" id="B8" ></li>
        <li class="chair" id="B9" ></li>
        <li class="chair" id="B10"></li>
        <li class="chair" id="B11"></li>
        <li class="chair" id="B12"></li>
        <li class="chair" id="B13"></li>
        <li class="chair" id="B14"></li>
        <li class="chair" id="B15"></li>
        <li class="chair" id="B16"></li>
        <li class="chair" id="B17"></li>
        <li class="chair" id="B18"></li>
        <li class="chair" id="B19"></li>
        <li class="chair" id="B20"></li>
        <li class="chair" id="B21"></li>
        <span>B</span>
      </div>
      <div class="row-seat">
        <span>C</span>
        <li class="chair" id="C1"></li>
        <li class="chair" id="C2"></li>
        <li class="chair" id="C2" ></li>
        <li class="chair" id="C4" ></li>
        <li class="chair" id="C5" ></li>
        <li class="chair" id="C6" ></li>
        <li class="chair" id="C7" ></li>
        <li class="chair" id="C8" ></li>
        <li class="chair" id="C9" ></li>
        <li class="chair" id="C10"></li>
        <li class="chair" id="C11"></li>
        <li class="chair" id="C12"></li>
        <li class="chair" id="C13"></li>
        <li class="chair" id="C14"></li>
        <li class="chair" id="C15"></li>
        <li class="chair" id="C16"></li>
        <li class="chair" id="C17"></li>
        <li class="chair" id="C18"></li>
        <li class="chair" id="C19"></li>
        <li class="chair" id="C20"></li>
        <li class="chair" id="C21"></li>
        <span>C</span>
      </div>
      <div class="row-seat">
        <span>D</span>
        <li class="chair" id="D1"></li>
        <li class="chair" id="D2"></li>
        <li class="chair" id="D2" ></li>
        <li class="chair" id="D4" ></li>
        <li class="chair" id="D5" ></li>
        <li class="chair" id="D6" ></li>
        <li class="chair" id="D7" ></li>
        <li class="chair" id="D8" ></li>
        <li class="chair" id="D9" ></li>
        <li class="chair" id="D10"></li>
        <li class="chair" id="D11"></li>
        <li class="chair" id="D12"></li>
        <li class="chair" id="D13"></li>
        <li class="chair" id="D14"></li>
        <li class="chair" id="D15"></li>
        <li class="chair" id="D16"></li>
        <li class="chair" id="D17"></li>
        <li class="chair" id="D18"></li>
        <li class="chair" id="D19"></li>
        <li class="chair" id="D20"></li>
        <li class="chair" id="D21"></li>
        <span>D</span>
      </div>
      <div class="row-seat">
        <span>E</span>
        <li class="chair" id="E1"></li>
        <li class="chair" id="E2"></li>
        <li class="chair" id="E2" ></li>
        <li class="chair" id="E4" ></li>
        <li class="chair" id="E5" ></li>
        <li class="chair" id="E6" ></li>
        <li class="chair" id="E7" ></li>
        <li class="chair" id="E8" ></li>
        <li class="chair" id="E9" ></li>
        <li class="chair" id="E10"></li>
        <li class="chair" id="E11"></li>
        <li class="chair" id="E12"></li>
        <li class="chair" id="E13"></li>
        <li class="chair" id="E14"></li>
        <li class="chair" id="E15"></li>
        <li class="chair" id="E16"></li>
        <li class="chair" id="E17"></li>
        <li class="chair" id="E18"></li>
        <li class="chair" id="E19"></li>
        <li class="chair" id="E20"></li>
        <li class="chair" id="E21"></li>
        <span>E</span>
      </div>
      <div class="row-seat">
        <span>F</span>
        <li class="chair" id="F1"></li>
        <li class="chair" id="F2"></li>
        <li class="chair" id="F2" ></li>
        <li class="chair" id="F4" ></li>
        <li class="chair" id="F5" ></li>
        <li class="chair" id="F6" ></li>
        <li class="chair" id="F7" ></li>
        <li class="chair" id="F8" ></li>
        <li class="chair" id="F9" ></li>
        <li class="chair" id="F10"></li>
        <li class="chair" id="F11"></li>
        <li class="chair" id="F12"></li>
        <li class="chair" id="F13"></li>
        <li class="chair" id="F14"></li>
        <li class="chair" id="F15"></li>
        <li class="chair" id="F16"></li>
        <li class="chair" id="F17"></li>
        <li class="chair" id="F18"></li>
        <li class="chair" id="F19"></li>
        <li class="chair" id="F20"></li>
        <li class="chair" id="F21"></li>
        <span>F</span>
      </div>
    </div>
    
    

  </div>
  <div class="moviedetails">
    <table class="pricechart">
      <tr>
        <th>Number Of Seat </th>
        <th>Seats</th>
        <th>Total Amount</th>
      </tr>
      <tr>
        <td id="noOfSeat">0</td>
        <td id="seat">0</td>
        <td id="price">0</td>
      </tr>
    </table>
 </div>
 <form  method="post" id="backendForm" enctype="multipart/form-data" action="">
  {% csrf_token %}
  <input style="visibility: hidden;" id="snumber" name="snumber" type="text">
  <input style="visibility: hidden;" id="seatNumber" name="seatNumber" type="text">
  <input id="tamount" name="tamount" type="text">
  <button type="submit" class="btn btn-warning submit-btn" style="position: absolute;left: 67em; top: 75em;" id="amount">Book Now</button>
  
 </form>

  <div class="row-selection-reviews">
    <div class="calculation">
      <div class="amount"></div>
      
    </div>
    <div class="casting">
      <div class = "actors"><img src="{{Movie_Names.actor_img1.url}}" alt=""></div>
      <div class = "actors"><img src="{{Movie_Names.actor_img2.url}}" alt=""></div>
      <div class = "actors"><img src="{{Movie_Names.actor_img3.url}}" alt=""></div>
      <div class = "actors"><img src="{{Movie_Names.actor_img4.url}}" alt=""></div>
    </div>
    <div class="casting">
      <div class="names"><p>{{Movie_Names.actor_Name1}}</p></div>
      <div class="names"><p>{{Movie_Names.actor_Name2}}</p></div>
      <div class="names"><p>{{Movie_Names.actor_Name3}}</p></div>
      <div class="names"><p>{{Movie_Names.actor_Name4}}</p></div>
    </div>
  </div>
</div>
<script src="{% static 'JS/seatselection.js' %}"></script>
{% endblock %}